@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
    --background-color-dark: #000000;
    --background-color-white: #aaaaaafd;
  }
  
  [data-theme='light'] {
    --text-color: var(--text-color-light);
    --background-color: var(--bg-color-light);
  }
  
  [data-theme='dark'] {
    --text-color: var(--text-color-dark);
    --background-color: var(--bg-color-dark);
  }
  
  /* In your CSS (e.g., variables.scss) */
