/* components/CareerPath.module.css */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
   
    
  }
  
  .step {
    background-color: var(--background-color);
    padding: 20px;
    border: 1px solid rgb(95, 93, 93);
    border-radius: 10px;
    transition: transform 0.3s;
    color: var(--text-color);
    
  }
  
  .step:hover {
    transform: scale(1.05);
  }
  

  